footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    p{
        font-size: 12px;
        background: greenyellow;
        color: black;
        padding: 5px;
        margin: 0;
    }
}